.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.table-container {
  width: 100%;
  
}

.my-table {
  border-collapse: collapse;
  width: 100%;
 
}

.my-table th,
.my-table td {
  border: 1px solid #dddddd;
  padding: 8px;
  text-align: left;
}

.my-table th {
  text-align: center;
 
}

.main-div {
  width: 90%; 
  padding-top: 1%;
}

.custom-button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}


.custom-button-container {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-self: flex-end;
  align-items: center;
  margin-top: 20px;
}
.custom-button:hover {
  background-color: #45a049;
}



.submit-button-container {
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-self: flex-end;
  align-items: center;
  margin-bottom: 20px;
}

.submit-button {
  background-color: #c2602c; /* Green */
  border: none;
  color: white;
  width: 20%;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}


.submit-button:hover {
  background-color: #e25d15;
}


.input-style {
  width: '100%';
  padding: 8px;
  border-radius: 4px;
  border: '1px solid #ccc';
}


.input-table {
  border-collapse: collapse;
  width: 100%;
  align-items: center;
}


.input-table th,
.input-table td {
  padding: 8px;
  width: '100%';
  text-align: left;
}



.delete-button {
  background-color: #ff0000; /* Green */
  border: none;
  color: white;
  width: 50%;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}

.delete-button:hover {
  background-color: #e13e3e;
}

.staff-table{
  margin-top: 10%;
}



.nextPage {
  margin-top: 150px;
  font-size: 20px;
}

.nextPage:hover {
  color: green;
  cursor: pointer;
}



@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

body {
  background: #c0c0c0; 
  font-family: Raleway, sans-serif;
  color: #666;
}

.login {
  margin: 20px auto;
  padding: 40px 50px;
  max-width: 300px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 1px 1px 1px #666;
}
  .login input {
    width: 100%;
    display: block;
    box-sizing: border-box;
    margin: 10px 0;
    padding: 14px 12px;
    font-size: 16px;
    border-radius: 2px; 
    font-family: Raleway, sans-serif;
  }

.login input[type=text],
.login input[type=password] {
  border: 1px solid #c0c0c0;
  transition: .2s;
}

.login input[type=text]:hover {
  border-color: #F44336;
  outline: none;
  transition: all .2s ease-in-out;
} 

.login input[type=submit] {
  border: none;
  background: #EF5350;
  color: white;
  font-weight: bold;  
  transition: 0.2s;
  margin: 20px 0px;
}

.login input[type=submit]:hover {
  background: #F44336;  
}

  .login h2 {
    margin: 20px 0 0; 
    color: #EF5350;
    font-size: 28px;
  }

.login p {
  margin-bottom: 40px;
}

.links {
  display: table;
  width: 100%;  
  box-sizing: border-box;
  border-top: 1px solid #c0c0c0;
  margin-bottom: 10px;
}

.links a {
  display: table-cell;
  padding-top: 10px;
}

.links a:first-child {
  text-align: left;
}

.links a:last-child {
  text-align: right;
}

  .login h2,
  .login p,
  .login a {
    text-align: center;    
  }

.login a {
  text-decoration: none;  
  font-size: .8em;
}

.login a:visited {
  color: inherit;
}

.login a:hover {
  text-decoration: underline;
}